@charset "utf-8";
/* CSS Document */

body {
	background-image:url(../design/images/background.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	width:100%;
}

html, body, #container { 
	height: 100%; 
}

body > #container { 
	height: auto; 
	min-height: 100%; 
}

.line {
	height:0.25em;
	width:5em;
	margin-bottom:1em;
}

.midContent {
	font-family: 'Open Sans', sans-serif;
	position:relative;
	top: 10.5em;
	left: 12.75em;
	color: white;
	width:50%;
	margin-bottom:10%;
}

.midText {
	width:85%;
}

#email {
	color:#DCDCDC;
}

#email:hover {
	color:grey;
}

p, .sponsorHead {
	font-weight:600;
	font-size:12pt;
	line-height:200%;
}

.sponsorLogo {
	width:100%;
}

.spacer {
	margin-bottom:5%;
}

.miniSpacer {
	margin-right:3em;
}

.sponsorHead {
	margin-bottom:-0.5em;
}